## Prediction

In [1]:
import pickle
import pandas as pd

In [2]:
model = pickle.load(open('model.pkl', 'rb'))

In [3]:
car = pd.read_csv(r"C:\Users\gugli\Python projects\car.csv")
car['Buying_Price'].replace({'low':1,'med':2,'high':3,'vhigh':4},inplace = True)
car['No_of_Doors'].replace({'5more':5},inplace= True)
car['Size_of_Luggage'].replace({'small':1,'med':2,'big':3},inplace = True)
car['Safety'].replace({'low':1,'med':2,'high':3},inplace = True)
car['Car_Acceptability'].replace({'unacc':0,'acc':1,'good':1,'vgood':1},inplace = True)
car['Maintenance_Price'].replace({'low':1,'med':2,'high':3,'vhigh':4},inplace = True)
car['Buying_Price']=car['Buying_Price'].astype(int)
car['No_of_Doors'] = car['No_of_Doors'].astype(int)
car['Size_of_Luggage']= car['Size_of_Luggage'].astype(int)
car['Safety']=car['Safety'].astype(int)
car['Car_Acceptability'] = car['Car_Acceptability'].astype(int)
car['Maintenance_Price']= car['Maintenance_Price'].astype(int)
car['Person_Capacity'].replace({"more":5},inplace = True)
car['Person_Capacity']=car['Person_Capacity'].astype(int)
X = car.iloc[:,0:-1]

In [4]:
X

,Buying_Price,Maintenance_Price,No_of_Doors,Person_Capacity,Size_of_Luggage,Safety
0,4,4,2,2,1,1
1,4,4,2,2,1,2
2,4,4,2,2,1,3
3,4,4,2,2,2,1
4,4,4,2,2,2,2
...,...,...,...,...,...,...
1723,1,1,5,5,2,2
1724,1,1,5,5,2,3
1725,1,1,5,5,3,1
1726,1,1,5,5,3,2
1727,1,1,5,5,3,3

In [5]:
n = 1726
print('Predicted: ', model.predict(X[n:n+1])[0])
print('Actual: ', car.iloc[n,-1])

Predicted:  1
Actual:  1

C:\Users\gugli\Desktop\Università\Hackathon\Lab\venv\lib\site-packages\sklearn\base.py:435: UserWarning: X has feature names, but KNeighborsClassifier was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

In [6]:
from platform import python_version
print(python_version())

3.7.0