### GCP project

In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score,KFold
from sklearn.neighbors import NearestNeighbors, KNeighborsClassifier
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
import pickle

from sklearn.preprocessing import StandardScaler

In [3]:
car=pd.read_csv(r"C:\Users\gugli\Python projects\car.csv")
car.head()

,Buying_Price,Maintenance_Price,No_of_Doors,Person_Capacity,Size_of_Luggage,Safety,Car_Acceptability
0,vhigh,vhigh,2,2,small,low,unacc
1,vhigh,vhigh,2,2,small,med,unacc
2,vhigh,vhigh,2,2,small,high,unacc
3,vhigh,vhigh,2,2,med,low,unacc
4,vhigh,vhigh,2,2,med,med,unacc

In [4]:
car['Buying_Price'].replace({'low':1,'med':2,'high':3,'vhigh':4},inplace = True)
car['No_of_Doors'].replace({'5more':5},inplace= True)
car['Size_of_Luggage'].replace({'small':1,'med':2,'big':3},inplace = True)
car['Safety'].replace({'low':1,'med':2,'high':3},inplace = True)
car['Car_Acceptability'].replace({'unacc':0,'acc':1,'good':1,'vgood':1},inplace = True)
car['Maintenance_Price'].replace({'low':1,'med':2,'high':3,'vhigh':4},inplace = True)
car['Buying_Price']=car['Buying_Price'].astype(int)
car['No_of_Doors'] = car['No_of_Doors'].astype(int)
car['Size_of_Luggage']= car['Size_of_Luggage'].astype(int)
car['Safety']=car['Safety'].astype(int)
car['Car_Acceptability'] = car['Car_Acceptability'].astype(int)
car['Maintenance_Price']= car['Maintenance_Price'].astype(int)
car['Person_Capacity'].replace({"more":5},inplace = True)
car['Person_Capacity']=car['Person_Capacity'].astype(int)

In [5]:
X = car.drop('Car_Acceptability',axis = 1)
y = car['Car_Acceptability']

In [7]:
X

,Buying_Price,Maintenance_Price,No_of_Doors,Person_Capacity,Size_of_Luggage,Safety
0,4,4,2,2,1,1
1,4,4,2,2,1,2
2,4,4,2,2,1,3
3,4,4,2,2,2,1
4,4,4,2,2,2,2
...,...,...,...,...,...,...
1723,1,1,5,5,2,2
1724,1,1,5,5,2,3
1725,1,1,5,5,3,1
1726,1,1,5,5,3,2
1727,1,1,5,5,3,3

In [7]:
y

0       0
1       0
2       0
3       0
4       0
       ..
1723    1
1724    1
1725    0
1726    1
1727    1
Name: Car_Acceptability, Length: 1728, dtype: int32

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,random_state=42)
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.fit_transform(X_test)

In [9]:
k_range = range(1,15)
score = []
for k in k_range:
    knn = KNeighborsClassifier(n_neighbors = k)
    knn.fit(X_train_scaled,y_train)
    y_pred = knn.predict(X_test_scaled)
    score.append(metrics.accuracy_score(y_test,y_pred))
score

[0.9595375722543352,
 0.9190751445086706,
 0.9633911368015414,
 0.9595375722543352,
 0.976878612716763,
 0.9633911368015414,
 0.9672447013487476,
 0.9653179190751445,
 0.976878612716763,
 0.9653179190751445,
 0.9749518304431599,
 0.9672447013487476,
 0.976878612716763,
 0.9710982658959537]

In [10]:
for i,j in enumerate(score):
    if j==max(score):
        max_v=i
max_v

12

In [11]:
plt.plot(score)
plt.show()

NameError: name 'plt' is not defined

In [12]:
model=KNeighborsClassifier(n_neighbors=max_v).fit(X_train_scaled,y_train)
knn_p=model.predict(X_test_scaled)
knn_cm=confusion_matrix(y_test,knn_p)
print(knn_cm)

[[356   2]
 [ 15 146]]

In [13]:
knn_cm

array([[356,   2],
       [ 15, 146]], dtype=int64)

In [14]:
sns.heatmap(data = knn_cm,annot = True,fmt='.2f');

NameError: name 'sns' is not defined

In [15]:
pickle.dump(model, open('model.pkl', 'wb'))

In [16]:
y

0       0
1       0
2       0
3       0
4       0
       ..
1723    1
1724    1
1725    0
1726    1
1727    1
Name: Car_Acceptability, Length: 1728, dtype: int32